*{
    padding: 0;
    margin: 0;   
    list-style: none;
    text-decoration: none;
   }
   body{
     background-color: white;
       background-size: cover;
   
   }
   
   
   .px{
       padding: 0px 100px;
   }
   .df{
       justify-content: space-between;
       display: flex;
       align-items: center;
   }
   
   .px{
       padding: 0px 100px;
   }
   .df{
       justify-content: space-between;
       display: flex;
       align-items: center;
   }
   nav{
       position: sticky;
       width: auto;
       z-index: 200;
       top: 0;
       background-color:rgb(18, 18, 56);
       height: 70px;
   }
   nav a{
       font-weight: 700;
       font-family: var(--font);
       text-transform: capitalize;
       color: white;
   }
   nav a:hover{
       color: red;
       
   }
   nav li{
       margin: 0px 20px;
   }
   #toggle{
       display: none;
   }
   .dropdown{
       position: relative;
   }
   .dropdown-content{
       position: absolute;
       min-width: fit-content;
       width: 150px;
       display: none;
       z-index: 100;
       background-color: white;
       height: fit-content;
       font-size: 27px;
       padding: 0px 10px;
       border-radius: 5px;
       
   }
   .dropdown:hover .dropdown-content{
       display: block;
   }
   .dropdown-content a{
       display: block !important;
       margin: 10px;
       font-weight: 700 !important;
       font-family: var(--font) !important;
       text-transform: capitalize !important;
   }
   .shalom{
    font-size: 17px;
    color: white;
}
.black{
    color: black;
}
.my-portfolio{
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 70px;
    
}
.portfolio{
    text-align: center;
    color: rgb(18, 18, 56);
}
.h5{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: rgb(18, 18, 56);
}
.big-portfolio-container{
  
    width: 90%;
    height: 90vh;
    margin: auto;
    
}
.small-portfolio-container{
 
    height: fit-content;
    width: 100%;
    margin-top: 30px;
   
}
.image-portfolio1{
    width: 100%;
    height: 400px;
    background-image: url(../image/goal.png);
    background-size: cover;
    
}
.image-portfolio2{
    width: 100%;
    height: 400px;
    background-image: url(../image/cofee.png);
    background-size: cover; 
    margin-top: 0px;
    
}
.image-portfolio3{
    width: 100%;
    height: 400px;
    background-image: url(../image/Aptech.png);
    background-size: cover;
    margin-top: 0px;
}

.comment{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 0px;
}
   @media only screen and (max-width:915px) {
    #lgnav{
        display: none;
    }
 
   
    #toggle{
        display: inline-block !important;
    }
    .my-portfolio{
        width: 90%;
        margin: auto;
        height: fit-content;
       
        margin-top: 0px;
    }
    .image-portfolio1{
        width: 100%;
        height: 150px;
        background-image: url(../goal.png);
        background-size: cover;
     
    }
    .image-portfolio2{
        width: 100%;
        height: 150px;
        background-image: url(../cofee.png);
        background-size: cover; 
        margin-top: 50px;
       
    }
    .image-portfolio3{
        width: 100%;
        height: 150px;
        background-image: url(../Aptech.png);
        background-size: cover;
        margin-top: 50px;
       
    }
    
   }
   @media only screen and (max-width:576px) {
    #lgnav{
        display: none;
    }
 
   
    #toggle{
        display: inline-block !important;
    }
    .my-portfolio{
        width: 90%;
        margin: auto;
        height: fit-content;
        margin-top: 0px;
    }
    .portfolio{
        text-align: center;
        color: rgb(18, 18, 56);
        padding-top: 10px;
    }
    .image-portfolio1{
        width: 100%;
        height: 150px;
        background-image: url(../image/goal.png);
        background-size: cover;
       
    }
    .image-portfolio2{
        width: 100%;
        height: 150px;
        background-image: url(../image/cofee.png);
        background-size: cover; 
        margin-top: 50px;
    }
    .image-portfolio3{
        width: 100%;
        height: 150px;
        background-image: url(../image/Aptech.png);
        background-size: cover;
        margin-top: 50px;
      
    }
    .small-portfolio-container{
        margin-top: 0px;
        height: fit-content;
       
    }
   }